/.bundle/
/.yardoc
/_yardoc/
/coverage/
/doc/
/pkg/
/spec/reports/
/tmp/
*.gem
/.idea
*.swp
.history/*
.gitlab-ci.yml.bck

# rspec failure tracking
.rspec_status

# VSCode settings
settings.json

# ctags
tags
